.pre-footer {
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
}

.first-container {
	font-size: 60px;
	padding-top: 125px;
	text-align: center;
	padding-bottom: 200px;
}

.first-container p {
	margin: 0px 0px;
	padding-bottom: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.7;
}